table {
  margin-top: 40px !important;
}

table caption {
  font-size: 20px;
  padding-bottom: 5px;
}

.modules th.module {
  width: 350px;
}
.modules th.version {
  width: 165px;
}
.modules th.composer_setting {
  width: 165px;
}
.modules th.rversion {
  width: 190px;
}
.modules th.rterm {
  width: 400px;
}


#version_security tr {
  background-color: rgba(255,0,0, 0.5);
  color: white;
  font-weight: bold;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}